<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unique Password: Apology</title>    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');        
        </style>
        <link rel="stylesheet" href="../static/styles/form.css">
    </head>
    <body>
        <div class="container">
            <img alt="{{ top }}" class="border img-fluid" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/mtGc7Sl.gif&width=400" title="{{ top }}">

            <footer class="footer">
                <footer>
                    <div class="madeby">
                        <p>Made with ❤️ by</p>
                        <a href="https://www.github.com/Alvaro-Neyra" target="_blank">
                        <div class="logo-container">
                            <img src="../static/images/AlvaroAndLukeTheCoder.png" title="Alvaro-Neyra">
                            <span>Alvaro-Neyra</span>
                        </div>
                        </a>
                    </div>
                    </footer>
            </footer>
        </div>
    </body>
</html>