<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unique Password: Homepage</title>    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <link rel="stylesheet" href="../static/styles/homepagestyle.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lato&family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');        
        </style>
    </head>
    <body>
        <nav>
            <div class="nav-container">
                <ul class="navbar-part-left">
                    <li class="nav-item">Home</li>
                    <li class="nav-item">Add</li>
                    <li class="nav-item">Generator</li>
                    <li class="nav-item">Quote</li>
                    <li class="nav-item">Account</li>
                </ul>
                <ul class="navbar-part-right">
                    <li class="nav-item"><a href="/register">Register</a></li>
                    <li class="nav-item"><a href="/login">Log In</a></li>
                </ul>
            </div>
        </nav>

        <div class="homepage-container">
            <h1 class="title">Unique Password</h1>
            <p class="subtitle">A Unique Password for all of them!</p>
            <button><a href="/login">Log In</a></button>
            <button><a href="/register">Register</a></button>
        </div>

        <footer class="footer">
            <footer>
                <div class="madeby">
                    <p>Made with ❤️ by</p>
                    <a href="https://www.github.com/Alvaro-Neyra" target="_blank">
                    <div class="logo-container">
                        <img src="../static/images/AlvaroAndLukeTheCoder.png" title="Alvaro-Neyra">
                        <span>Alvaro-Neyra</span>
                    </div>
                    </a>
                </div>
                </footer>
        </footer>
    </body>
</html>